body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
}

.title {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 3.5em;
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border-radius: 5px;
}

.container-textinput:focus {
	outline: 0;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: #2196f3;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border-radius: 5px;
}

.container-button:focus {
	outline: 0;
}

.container-button:hover {
	cursor: pointer;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}
